.NewFoodDivBtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: #f8f9fa;
    width: 50px;
    height: 50px;

    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 1px solid #dee2e6;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: #ff3c3c;
    cursor: pointer;
}

.offcanvas{
    width: 600px !important;
}
.offcanvas-header{
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    justify-content: start !important;
}
.edit-cat-btn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid rgba(255, 60, 60, 0.726);
    /* background-color: rgba(255, 60, 60, 0.726); */
    /* padding: 2px; */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; 
}

.edit-cat-btn:hover{
    background-color: rgba(255, 60, 60, 0.726);
    border-color: #ff3c3c;
}

.edit-cat-btn:active{
    background-color: #ff1a1a;
    border-color: #ff3c3c;
}

.ft-btn{
    padding: 1px 3px !important;
    
}